# Ignore the virtual environment configs
.venv/

# Ignore environment variables, secrets and configs
.env

# Ignore compiled Python code
__pycache__

# Ignore the output directory
SlackDownloads/

# Ignore 
sa-key-file.json